   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
   }

   body {
       font-family: 'Oswald', sans-serif;
   }

   .CONTAINER {
       width: 80%;
       margin: auto;
       position: relative;
   }

   .nav_content {
       display: flex;
       justify-content: space-between;
       background-color: rgb(0 0 0 / 76%);
       align-items: center;
   }

   .nav_content a {
       font-size: 30px;
       padding: 10px;
       text-decoration: none;
       text-align: left;
       color: red;
   }

   .nav_content a b {
       color: aliceblue;
   }

   .nav_content ul#Athution {
       list-style: none;
       display: flex;
       padding: 10px;
   }

   .nav_content ul#Athution li {
       margin-left: 15px;
       color: white;
   }

   .logout-btn {
       display: flex;
       align-items: center;
       list-style: none;
       font-size: 25px;
       color: white;
       padding: 20px;
       display: flex;
       left: 200px;
       position: relative;
   }

   #logout_username {
       margin-left: 30px;
       cursor: pointer;
   }


   .logout-btn li {
       margin-left: 10px;

   }
#user_imge{
    border-radius: 50%;
}
   #logout {
       cursor: pointer;
   }

   .shopping_cart {
       z-index: 10000938;
       position: relative;
       top: 10px;
       cursor: pointer;
   }

   .shopping_cart i {
       color: aliceblue;
       font-size: 25px;
       position: relative;
       right: 30px;

   }

   #shopping_cart-padge {
       color: whitesmoke;
       background-color: red;
       position: relative;
       top: -34px;
       left: -10px;
       right: 50px;
       border-radius: 20px;
       height: 18px;
       line-height: 18px;
       width: 18px;
       text-align: center;
       display: none;

   }

   .list_shopping {
       position: relative;
       display: block;
       position: absolute;
       top: 51px;
       right: 1px;
       text-align: center;
       width: 200px;
       border: 1px solid green;
       background-color: #eee;
   }

   .item_list_shopping {
       position: relative;
       font-size: 20px;
       text-align: center;
   }

   .list_shopping_btn button {
       margin-left: 20px;
       margin-bottom: 10px;
       position: absolute;
       color: white;
       border-radius: 4px;
       background-color: darkgreen;
       cursor: pointer;
       display: block;
       padding: 5px;
   }

   .content_product {
       width: 100%;

   }

   .content_product_item {
       position: relative;
       display: flex;
       align-items: center;
       justify-content: space-between;
       border: 1px solid darkgreen;
       margin-top: 15px;
       width: 60%;
       padding: 20px;

   }

   .content_product_item img {
       width: 150px;
       margin-left: 5px;
   }

   .content_product_item_desc {
       padding: 0;
       margin: 0;
       width: 500px;
   }

   .content_product_item_desc h2 {
       cursor: pointer;

   }

   .content_product_item_desc button {
       position: absolute;
       right: 0;
       top: 10px;
       display: block;
       padding: 10px;
       cursor: pointer;
       margin-right: 5px;
       background-color: darkgreen;

       color: whitesmoke;
   }

   .content_product_item_desc i {
       color: red;
       position: absolute;
       right: 5px;
       bottom: 2px;
   }

   .list_shopping {
       display: none;
   }

   .product_detalis_item img {
       height: 400px;
       object-fit: cover;
       display: block;
       text-align: center;
       margin: 30px auto;
   }

   .product_detalis_item h2 {
       text-align: center;
       font-size: 50px;
       font-weight: bolder;

   }

   .product_detalis_item p {
       text-align: center;
   }


   #input_search {
       display: block;
       width: 100%;
       margin-top: 10px;
       padding: 10px;
       font-size: 20px;
       font-weight: bold;
       border-radius: 5px;
       outline: none;
       z-index: -100000000;
   }

   #btn_favourite {
       cursor: pointer;
       color: red;
   }

   #btn_plus {
       position: fixed;
       right: 10px;
       bottom: 10%;
       font-size: 35px;
       background-color: blueviolet;
       border-radius: 50%;
       height: 50px;
       width: 50px;
       line-height: 50px;
       text-align: center;
       color: whitesmoke;
   }

   #btn_plus:hover {
       background-color: rgba(137, 43, 226, 0.868);
       ;
   }

   #product_name {
       display: block;
       margin-top: 10px;
       width: 100%;
       font-size: 15px;
       border-radius: 7px;
       border: none;
       border: 2px solid #ccc;
       padding: 10px;
       outline: none;
   }

   #product_desc {
       display: block;
       margin-top: 10px;
       width: 100%;
       font-size: 15px;
       border-radius: 7px;
       border: none;
       border: 2px solid #ccc;
       padding: 10px;
       outline: none;
   }

   #product_size {
       display: block;
       margin-top: 10px;
       width: 100%;
       font-size: 15px;
       border-radius: 7px;
       border: none;
       border: 2px solid #ccc;
       padding: 10px;
       cursor: pointer;
       outline: none;
   }
#qty{
    position: absolute;
    right: 7px;
    top: 10px;
    display: block;
    border-radius: 50%;
    background-color: black;
    color: whitesmoke;
    height: 20px;
    width:20px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    
   

}
   #crat_product_btn {
       display: block;
       margin-top: 10px;
       width: 100%;
       font-size: 15px;
       border-radius: 7px;
       border: none;
       border: 2px solid #ccc;
       padding: 10px;
       cursor: pointer;
       font-size: 20px;
       background-color: blueviolet;
       color: whitesmoke;
   }

   #crat_product_btn:hover {
       background-color: rgba(100, 16, 178, 0.684);
   }

   .filter_size {
       position: absolute;
       top: 0;
       right: 0;
       width: 40%;
   }

   #chosse_size {
       width: 99%;
       height: 40px;
       margin-left: 5px;
       font-size: 20px;
   }

   .title_size {
       position: relative;
       left: 6px;
   }

   .edti_product {
       background-color: green;
       padding: 4px 10px;
       color: whitesmoke;
       width: fit-content;
       border-radius: 8px;
       margin-top: 10px;
       font-size: 15px;
   }
   #button{
       font-size: 15px;
       width: fit-content;
       top: 10px;
       display: block;
       padding: 10px;
       cursor: pointer;
       margin-right: 5px;
       background-color: darkgreen;
       border-radius: 7px;
       color: whitesmoke;
       margin-top: 15px;
   }
   #profile{
    display: block;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
    font-size: 20px;
   }
   #profile:hover{
    background-color: rgb(96, 119, 190);
   }
   a{
       text-decoration: none;
   }
   #profile-user{
    display: block;
  border: 1px solid black;
  
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: black;
    font-size: 20px;
    border-radius: 10px;
   }
   #profile-email{
    display: block;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: black;
    font-size: 20px;
    border-radius: 10px;
   }
   #profile-imge{
    display: block;
   
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: whitesmoke;
    border-radius: 10px;

   }
   #supmit_profile{
    display: block;
    background-color: royalblue;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
   }
   #user_imge{
       height: 500px;
       width: 500px;
       display: block;
       margin: auto;
      
   }